<nav class="navbar navbar-default">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav">
        {{#if isAuthenticated}}
        {{!-- <li>{{#link-to "users"}}Users{{/link-to}}</li> --}}
        <li>{{#link-to "items"}}TO-DO LIST ♥{{/link-to}}</li>
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}CHANGE PASSWORD{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>SIGN OUT</a></li>
        {{else}}
        <li>{{#link-to "sign-up"}}SIGN UP{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}SIGN IN{{/link-to}}</li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<header class="main-header">
<h1>SIMPL<font color="#F5C2D4">/</font><span>WED</span><font size="2px" color="#FC87B0">♥</font></h1>
{{!-- <font size="11px">∞</font> --}}
  <h2>A simple wedding to-do list developed in EmberJS</h2>
</header>

{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}

<div class="col-md-8 col-md-offset-2">
  {{outlet}}
</div>
