

<div>
      {{input class="input__field input__field--yxiao" value=item.content}}
    <label class="input__label input__label--yxiao" data-content="task">
      <span class="input__label-content input__label-content--yxiao">TASK</span>
    </label>
    {{input class="input__field input__field--yxiao" value=item.date}}
    <label class="input__label input__label--yxiao" data-content="date">
      <span class="input__label-content input__label-content--yxiao">DUE DATE</span>
    </label>
  </div>
<button {{action 'updateItem'}}>submit</button>

<div>
      {{input value=item.content placeholder="task"}}
    {{input value=item.date placeholder="date"}}
  </div>
<button {{action 'updateItem'}}>submit</button>
