<div>
<h3>Items</h3>

{{create-item create='createItem'}}

<ul class="to-do-list">

  {{#each model as |item|}}
  <ul>

    <input type="checkbox" id="checkbox">
      <span>{{item.content}}</span> <span> <b>DUE:</b> {{item.date}}</span>
      {{!-- <span class="glyphicon glyphicon-trash" {{action 'delete'}}></span> --}}

      {{delete-item item=item
                    delete='deleteItem'}}
      {{update-item item=item
                    update='saveItem'}}

  </ul>

  {{/each}}



</ul>
</div>
{{outlet}}
